@model UniversityProject.Models.Student
@{
	/**/

	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
	<div class="form-group">
		@Html.LabelFor(model => model.StudentName)

		@Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control" } })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Email)

		@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.ContactNo)

		@Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control" } })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.RegistrationDate)
		@Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control" } })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })

		@Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
	</div>
	<div class="form-group">
		@Html.Label("Department")
		@Html.DropDownList("DepartmentId", null, "--Select Department--", htmlAttributes: new { @class = "form-control" })

	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary" value="Register" />
	</div>
}

@section scripts
{
	@*@Scripts.Render("~/bundles/jqueryval")*@
	<script src="~/Scripts/jquery-ui.min.js"></script>
	<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
	<script>
		$(document).ready(function () {
			$("#RegistrationDate").datepicker({
				changeMonth: true,
				changeYear: true
			}),
				$("#StudentName").empty();
			$("#Email").empty();
			$("#ContactNo").empty();
			$("#RegistrationDate").empty();
			$("#Address").empty();



		})
	</script>

}



